/* styles for skills */
.skills {
    margin-top: 10%;
    background-color: var(--licorice);
    padding: 160px 10%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.skills-content {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.skills-child {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.skills .skills-section-title h1 {
    color: var(--anti-flash-white);
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
}

.skills .skills-section-title {
    display: none;
}

.skills {
    color: var(--anti-flash-white);
}

@media screen and (max-width: 1800px) {
    .bar {
        width: 495px;
    }
}

@media screen and (max-width: 1660px) {
    .skills .skills-section-title {
        display: block;
    }

    .skills img.title-image {
        display: none;
    }

    .skills {
        flex-direction: column;
    }

    .bar {
        height: 18px;
    }

    .title-bar {
        font-size: 20px;
    }

    .title-bar {
        gap: 6px;
    }

    .skill-description {
        font-size: 13px;
    }
}

@media screen and (max-width: 1470px) {
    .skills-content {
        flex-direction: column;
        width: 100%;
    }

    .bar {
        width: calc(100% - 40.34px);
    }

    .skills .skills-section-title {
        width: 100%;
    }

    .skills-child, .skills-content {
        gap: 50px;
    }
    
}

@media screen and (max-width: 540px) {
    .skills .skills-section-title h1 {
        font-size: 80px;
    }

    .skills {
        padding: 80px 10%;
        gap: 40px;
    }

    .title-bar {
        font-size: 20px;
    }

    .skills-child,
    .skills-content {
        gap: 50px;
    }

}

@media screen and (max-width: 420px) {
    .skills {
        padding: 80px 6%;
    }
}

@media screen and (max-width: 390px) {
    .skills .skills-section-title h1 {
        font-size: 70px;
    }
}