/* styles for about me */

.about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.about-me-title {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 132px;
    color: var(--amaranth);
}

.about-me p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: justify;
    width: 80%;
}

.about-me .linkedin {
    display: flex;
    width: calc(80% - 48px);
    background-color: var(--licorice);
    margin-top: 50px;
    border-radius: 33px;
    padding: 20px 0 20px 48px;
}

.about-me a {
    text-decoration: none;
    color: var(--anti-flash-white);
}

.about-me-child .legend {
    background-color: var(--amaranth);
    color: var(--anti-flash-white);
    margin-top: -20px;
    z-index: 10;
    padding: 36px 0 36px 40px;
    border-radius: 0px 0px 0px 40px;
}

.about-me .contact {
    z-index: 1;
    background-color: #E5C8CB;
    border-radius: 40px;
    margin-top: 55px;
}

.about-me .legs-image {
    z-index: -1;
    position: relative;
    margin-top: -55px;
}

.about-me span {
    display: flex;
    width: auto;
    background-color: var(--licorice);
    border-radius: 33px;
    padding: 20px 48px;
    position: absolute;
}

.span-1 {
    top: 1379px;
    /* left: 1048px; */
    right: 36%;
}

.span-2 {
    top: 1664px;
    /* left: 1503px; */
    right: 7%;
}

@media screen and (max-width: 1500px) {
    .about-me .contact {
        scale: 0.9;
    }
}

@media screen and (max-width: 1400px) {
    .about-me .contact {
        scale: 0.85;
    }
}

@media screen and (max-width: 1300px) {
    .about-me .contact {
        scale: 0.8;
    }
}

@media screen and (max-width: 1200px) {
    .about-me {
        flex-direction: column;
    }

    .about-me p {
        width: 100%;
    }

    /* .about-me .linkedin {
        width: calc(100% - 48px)
    } */

    .about-me .linkedin {
        width: calc(100% - 28px);
        margin-top: 34px;
        padding: 14px 0 14px 28px;
    }
}

@media screen and (max-width: 570px) {
    .about-me .contact {
        scale: .7;
    }
}

@media screen and (max-width: 510px) {
    .about-me .contact {
        scale: .6;
    }
}

@media screen and (max-width: 430px) {
    .about-me .contact {
        scale: .5;
    }

    .about-me .linkedin {
        font-size: 14px
    }

    .about-me-title {
        font-size: 94px;
        line-height: 110px;
    }
}

@media screen and (max-width: 420px) {
    .about-me {
        padding: 0 6%;
    }

    .about-me p {
        font-size: 14px;
        line-height: 26px;
    }

    .about-me-title {
        margin-top: 6%;
    }
}