/* styles for header */
.header {
    display: flex;
    flex-direction: row;
    padding: 0 10%;
    margin-bottom: 5%;
}

.header h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 268.333px;
    line-height: 322px;
    z-index: 5;
    position: absolute;
    left: 32.5%;
    top: 30%;
}

.header p.introduction {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-align: justify;
    padding-left: 50px;
    width: 510px;
    position: absolute;
    top: 57%
}

.header .header-child img {
    width: 590px;
    height: 800px;
    border-radius: 40px;
}

.header .header-child p.name {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    transform: rotate(-90deg);
    z-index: 1;
    margin-left: -430px;
}

.header h1.portfolio-title-broken {
    display: none;
}

@media screen and (max-width: 1500px) {
    .header p.introduction {
        width: auto;
        padding-right: 10%;
    }

    .header h1 {
        left: 26.5%;
    }
}

@media screen and (max-width: 1350px) {
    .header h1.portfolio-title-broken {
        display: block;

        /* testes */
        right: 10%;
        left: auto;
        top: 22%;
        line-height: 225px
    }

    .header h1.portfolio-title {
        display: none;
    }

    .header p.introduction {
        top: 67%;
    }
}

@media screen and (max-width: 1160px) {
    .header {
        flex-direction: column;
    }

    .header h1 {
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 268.333px;
        line-height: 322px;
        z-index: 5;
        left: 32.5%;
        position: absolute;
        
        top: 0%;
    }
}