/* styles for header */
.header {
    display: flex;
    flex-direction: row;
}

.header h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 268.333px;
    line-height: 322px;
    z-index: 5;
    position: absolute;
    left: 32.5%;
    top: 30%;
}

.header p.introduction {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    padding-left: 50px;
    width: 510px;
    position: absolute;
    top: 57%
}

.header .header-child img {
    width: 590px;
    height: 800px;
    border-radius: 40px;
    margin-left: 200px;
}

.header .header-child p.name {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    transform: rotate(-90deg);
    z-index: 1;
    margin-left: -430px;
}