/* styles for header */
.header {
    display: flex;
    flex-direction: row;
    padding: 0 10%;
    margin-bottom: 5%;
}

.header h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 268.333px;
    line-height: 322px;
    z-index: 5;
    position: absolute;
    left: 32.5%;
    top: 30%;
}

.header p.introduction {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: justify;
    padding-left: 50px;
    width: 510px;
    position: absolute;
    top: 57%
}

.header .header-child img {
    width: 590px;
    height: 800px;
    border-radius: 40px;
}

.header .header-child p.name {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    transform: rotate(-90deg);
    z-index: 1;
    margin-left: -430px;
}

.header h1.portfolio-title-broken {
    display: none;
}

@media screen and (max-width: 1500px) {
    .header p.introduction {
        width: auto;
        padding-right: 10%;
    }

    .header h1 {
        left: 26.5%;
    }
}

@media screen and (max-width: 1350px) {
    .header h1.portfolio-title-broken {
        display: block;
        position: relative;
        right: auto;
        left: auto;
        top: auto;
        line-height: 225px;
        padding-left: 50px;
    }

    .header h1.portfolio-title {
        display: none;
    }

    .header p.introduction {
        top: 0%;
        position: relative;
    }

    .header .header-child {
        width: 50%;
    }

    .header .header-child img {
        width: 100%;
        height: auto;
    }

    .header {
        align-items: center;
    }
}

@media screen and (max-width: 1160px) {
    .header {
        flex-direction: column;
    }

    .header h1 {
        top: 0%;
    }

    .header .header-child {
        width: 100%;
    }

    .header h1.portfolio-title-broken {
        margin-top: -590px;
        color: var(--anti-flash-white);
    }

    .header p.introduction {
        color: var(--anti-flash-white);
        padding-right: 0;
        margin-right: 50px;
    }
}

@media screen and (max-width: 721px) {
    .header h1.portfolio-title-broken {
        margin-top: -520px;
        font-size: 210px;
        line-height: 175px;
    }

    .header .header-child img {
        border-radius: 30px;
    }

    .header p.introduction {
        margin-right: 30px;
        padding-left: 30px;
    }
    
    .header h1.portfolio-title-broken {
        padding-left: 30px;
    }
}

@media screen and (max-width: 520px) {
    .header h1.portfolio-title-broken {
        margin-top: -290px;
        font-size: 160px;
        line-height: 130px;
        margin-bottom: 50px;
    }

    .header p.introduction {
        color: var(--licorice);
        margin-right: 0;
        padding-left: 0;
    }
}

@media screen and (max-width: 420px) {
    .header {
        padding: 0;
    }

    .header .header-child img {
        border-radius: 0;
    }

    .header p.introduction {
        margin-right: 6%;
        padding-left: 6%;
    }
}