/* Estilos para o navbar */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
    z-index: 1000;
    /* Garante que a navbar esteja acima de tudo */
}

.navbar .internal-links {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.navbar .internal-links h1 {
    display: none;
}

.navbar .internal-links a {
    text-decoration: none;
    color: var(--licorice);
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.navbar h1 {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;

}

.menu-icon {
    display: none;
}

/* Responsividade */
@media (max-width: 860px) {
    .navbar {
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    .navbar .internal-links {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--white);
        width: 300px;
        height: 100vh;
        box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1002;

        gap: 0px;
    }

    .navbar .internal-links.open {
        transform: translateX(0);
        z-index: 1003;
        background-color: var(--anti-flash-white);
    }

    .navbar .internal-links a {
        margin: 15px 40px;
        text-align: left;
    }

    .menu-icon {
        display: grid;
        z-index: 1003;
    }

    .close {
        position: absolute;
        left: 238px;
        top: 41px;
    }

    .overlay.open {
        display: block;
    }

    .navbar .internal-links.open h1 {
        display: block;
        margin-left: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}