/* styles for experiences */

.experience {
    margin-top: 11%;
}

.experience .experience-section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.experience .experience-section-title h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 108px;
    color: var(--licorice);
    padding-left: 20%;
}

.experience .experience-section-title .child {
    width: 50%;
}

.experience .experience-section-title hr {
    border: 3px solid var(--licorice);
    margin-bottom: 40px;
    margin-top: 20px;
}

.experience section.experience-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.experience section.experience-content .text,
.experience section.experience-content .mockup {
    width: 50%;
}

.experience section.experience-content .mockup {
    position: relative;
    flex: 1 1 45%;
}

.experience section.experience-content .mockup img {
    width: 100%;
    height: auto;
    max-width: 950px;
    border-radius: 40px;
    z-index: 1;
    position: relative;
}

.experience section.experience-content .mockup::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 26px;
    z-index: 0;
    pointer-events: none;
}

.experience section.experience-content .mockup.amaranth::before {
    background: linear-gradient(270deg, #CE4257 0%, #EDF2EF 100%);
    width: calc(40%);
    height: 94%;
    margin-top: -6%;
    margin-left: 52%;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.experience section.experience-content .mockup.dark-purple::before {
    background: linear-gradient(270deg, #EDF2EF 0%, #402039 100%);
    margin-left: 24%;
    width: calc(76%);
    height: calc(100% - 140px);
    margin-top: 140px;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.experience section.experience-content .mockup.coral::before {
    background: linear-gradient(180deg, #FF7F51 0%, #EDF2EF 100%);
    border-radius: 26px 0px 0px 0px;
    margin-left: 100px;
    width: calc(100% - 100px);
    margin-bottom: 70px;
    margin-top: 70px;
    height: calc(100% - 140px);
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.experience section.experience-content .mockup.coral:hover::before {
    background: linear-gradient(180deg, #ff581c 0%, #EDF2EF 100%);
    opacity: 0.8;
}

.experience section.experience-content .mockup.dark-purple:hover::before {
    background: linear-gradient(270deg, #EDF2EF 0%, #571349 100%);
    opacity: 0.8;
}

.experience section.experience-content .mockup.amaranth:hover::before {
    background: linear-gradient(270deg, #b8273d 0%, #EDF2EF 100%);
    opacity: 0.8;
}

.experience section.experience-content .amaranth img {
    margin-bottom: 100px;
}

.experience section.experience-content .text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: justify;
    color: var(--licorice);
}

.experience section.experience-content .text h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: var(--licorice);
    margin-bottom: 15px;
}

.amaranth-rectangle {
    position: absolute;
    z-index: -1;
    width: 30vw;
    height: 50vh;
    right: 5vw;
    top: 80vh;
    background: linear-gradient(270deg, #CE4257 0%, #EDF2EF 100%);
    border-radius: 40px;
}

.dark-purple-rectangle {
    position: absolute;
    z-index: -1;
    width: 35vw;
    height: 40vh;
    left: 10vw;
    top: 70vh;
    background: linear-gradient(270deg, #EDF2EF 0%, #402039 100%);
    border-radius: 40px;
}

.coral-rectangle {
    position: relative;
    z-index: -1;
    width: 40vw;
    height: 45vh;
    right: 0;
    top: 50vh;
    background: linear-gradient(180deg, #FF7F51 0%, #EDF2EF 100%);
    border-radius: 40px 0px 0px 0px;
}

p.lide-experience-1,
p.lide-experience-2 {
    font-size: 14px;
    line-height: 28px;
}

p.lide-experience-1 {
    padding-left: 20%;
}

p.lide-experience-2 {
    padding-right: 20%;
}

.experience-content#last-content {
    margin-top: 100px;
}

.experience-content#middle-content .text {
    padding-right: 10%;
    padding-left: 5%
}

.experience-content#first-content .text,
.experience-content#last-content .text {
    padding-left: 10%;
    padding-right: 5%;
}

@media screen and (max-width: 1120px) {
    .experience .experience-section-title {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .experience .experience-section-title .child {
        width: 100%;
    }

    .experience .experience-section-title h1 {
        padding-left: 10%;
    }

    p.lide-experience-1,
    p.lide-experience-2 {
        padding-left: 10%;
    }

    p.lide-experience-2 {
        padding-right: 10%;
    }

    .experience .experience-section-title .child hr {
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    p.lide-experience-2 {
        margin-bottom: 50px;
    }

    .experience section.experience-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        flex-direction: column;
    }

    .experience section.experience-content .text {
        padding: 0;
    }

    .experience section.experience-content .text,
    .experience section.experience-content .mockup {
        width: 80%;
    }

    .experience-content#first-content .text,
    .experience-content#middle-content .text,
    .experience-content#last-content .text {
        padding-left: 0;
        padding-right: 0;
    }

    .experience-content#last-content {
        margin-top: 100px;
    }

    /* agora estou mexendo nos mockups */
    .experience section.experience-content .mockup.coral::before {
        border-radius: 26px 26px 0px 0px;
        margin-left: 0;
        width: 100%;
        height: calc(100% - 205px);
    }

    .experience section.experience-content#first-content .mockup {
        margin-top: 40px;
    }

    .experience section.experience-content#last-content .mockup {
        margin-top: 80px;
    }

    .experience section.experience-content .mockup.amaranth::before {
        margin-left: 60%;
    }

    .experience section.experience-content#middle-content {
        flex-direction: column-reverse;
    }

    .experience section.experience-content#middle-content .mockup {
        margin-top: 40px;
    }

    .experience section.experience-content .mockup.dark-purple::before {
        background: linear-gradient(270deg, #EDF2EF 20%, #402039 100%);
        margin-top: 80px;
        height: calc(100% - 80px);
        margin-left: 0;
        width: 80%;
    }

}

@media screen and (max-width: 520px) {
    .experience section.experience-content .mockup.coral::before {
        height: 70%;
    }

    .experience .experience-section-title h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 1380px) {
    .experience-content#last-content {
        margin-top: 0;
    }

    .experience section.experience-content {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 530px) {
    p.lide-experience-1 br {
        display: none;
    }

    p.lide-experience-1 {
        padding-right: 10%;
    }
}

@media screen and (max-width: 420px) {

    p.lide-experience-1,
    p.lide-experience-2 {
        padding-left: 6%;
        padding-right: 6%;
    }

    .experience .experience-section-title h1 {
        padding-left: 6%;
    }

    .experience section.experience-content .text,
    .experience section.experience-content .mockup {
        width: 88%;
    }
}