@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --anti-flash-white: #EDF2EF;
  --amaranth: #CE4257;
  --coral: #FF7F51;
  --dark-purple: #402039;
  --licorice: #170F11;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--anti-flash-white);
  color: var(--licorice);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--licorice);
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff2c;
  border-radius: none;
  border: 1px solid #ffffff46;
}
