.slider-container-main {
    position: relative;
    width: 450px;
    margin: auto;
    overflow: hidden;
}

.slider-container-main .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container-main .image-container img {
    width: 100%;
    border-radius: 20px;
}

.slider-container-main button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: .3s;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
}

.slider-container-main button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--black)
}

.slider-container-main button:nth-of-type(1) {
    left: 10px;
}

.slider-container-main button:nth-of-type(2) {
    right: 10px;
}

@media screen and (max-width: 1200px) {
    .slider-container-main {
        width: 600px;
        margin-top: 45px;
    }
}

@media screen and (max-width: 760px) {
    .slider-container-main {
        width: 100%;
        height: auto;
    }
}